<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand nav-link" href="#">
      Will Slaunwhite
    </a>
    <!-- Navbar brand -->

    <!-- Nav Links -->

    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNav.toggle()"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="toggle navigation">
    <em class="fas fa-bars"></em>
    </button>

    <div class="collapse navbar-collapse align-items-cent text-center"
    id="basicNav"
    mdbCollapse
    #basicNav="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">About Me</a>
          <a class="nav-link" href="#">Projects</a>
          <a class="nav-link" href="#">Contact</a>


        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://www.linkedin.com/in/william-slaunwhite-550106190/" rel="nofollow"
            target="_blank">
            <em class="fab fa-linkedin fa-lg"></em>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://github.com/WillSlaunwhite" rel="nofollow" target="_blank">
            <em class="fab fa-github fa-lg"></em>
          </a>
        </li>
      </ul>
    </div>


  </div>
</nav>
