<body>
  <div class="container-fluid main-container">
    <div class="first-div">
      first
    </div>

    <div class="project-cards p-2">

      <div class="row row-cols-2">
        <div class="col-6">

          <div class="card bg-dark text-white text-center ripple">

            <img
            src="assets/images/the_bet_screenshot.png"
            class="card-img"
            alt="..."
            />

            <div class="card-img-overlay">
              <h5 class="card-title h2 text-white">TheBet</h5>
              <a href="linkedin.com"><button>submit</button></a>
            </div>

            <a href="#!">

              <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <p class="text-white">Can you see me?</p>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.9)">
                <button>hello?</button>
              </div>
              </div>


            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="card hover-shadow">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</body>
